name: Publish to GitHub Pages

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

permissions:
  contents: read
  pages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps (npm)
        run: npm ci

      - name: Build
        run: npm run build-storybook --if-present

      - name: Publish
        run: gh-pages -d storybook-static
